{% extends '../base.html' %}
{% load static %}
{%  block title %} Список сотрудников {% endblock %}
{% block body %}
<div class="content">
    <h2>Список сотрудников</h2>
    <div>
        {% for employee in employees %}
        <h4>{{ employee.first_name }} {{ employee.patronymic }} {{ employee.last_name }}</h4>
        <p>дата рождения: {{ employee.date_of_birth }} {{ employee.age }} лет,  должность: {{ employee.post }},  группа должностей: {{ employee.group_employee }}, отдел: {{ employee.department}}</p>

        {% endfor %}
    </div>
</div>

{% endblock %}
