{% extends '../base.html' %}
{% load static %}
{%  block title %} Список сотрудников {% endblock %}
{% block body %}
<div class="content">
    <h2>Список сотрудников</h2>
    <div">
        {% for employee in employees %}
        <p><b>{{ employee.first_name }} {{ employee.patronymic }} {{ employee.last_name }}</b>
            дата рождения: {{ employee.birthday }} {{ employee.age }} лет,  должность: {{ employee.post }},  группа должностей: {{ employee.group_employee }}, отдел: {{ employee.department}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
